<% if action == :new %>
    <% action_url = albums_url %>
    <% button_type = "Record Album" %>
<% else %>
    <% action_url = album_url(album.id) %>
    <% button_type = "Edit Album" %>
<% end %>

<form action="<%= action_url %>" method="POST">
    <% if action == :edit %>
        <input type="hidden" name = "_method" value="PATCH">
    <% end %>
    <input type="hidden" name="authenticity_token" value = "<%= form_authenticity_token %>">

    <label>Title</label>
    <input type="text" name= "album[title]" value="<%= album.title %>">
    <br>

    <label>Year</label>
    <input type="number" name= "album[year]" value="<%= album.year %>">
    <br>

    <label>Band</label>
    <select name="album[band_id]">
        <% bands.each do |band| %>
            <option value="<%= band.id %>" <%= "selected" if album.band_id == band.id %>><%= band.name %></option>
        <% end %>
    </select>

    <br>
    <label for="live">Live</label>
    <input type="radio" name ="album[live]" value = "true" <%= "checked" if album.live == true %>>
    <label for="studio">Studio</label>
    <input type="radio" name ="album[live]" value = "false" <%= "checked" if album.live == false %>>
    <br>

    <input type="submit" value = "<%= button_type %>">
</form>